[user]
	name = LiuShuaiQ
	email = 1462828919@qq.com
[alias]
	st = status
	l = log
	co = checkout
	cm = commit
	df = diff
	lol = log --oneline -10
	br = branch
	lop = log --graph --decorate --oneline --simplify-by-decoration --all
	loga = log --graph --oneline --decorate --all
	rv = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	desc = "!f() { currBr=`git symbolic-ref -q --short HEAD`;git config branch.${currBr}.description $1; }; f"
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	lg = lg1
	d = difftool

[core]
	editor = vim
	excludesfile = /Users/shuailiu/.gitignore_global
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[safe]
	directory = *
[diff]
	tool = vimdiff
[difftool]
	prompt = false
